repos:
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.17
    hooks:
      - id: terraform-fmt
      - id: terraform-validate
      - id: terragrunt-hclfmt
      - id: tflint
      - id: shellcheck
      - id: gofmt
      - id: golint
      - id: markdown-link-check
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-added-large-files
      args: ['--maxkb=10000']
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: detect-private-key
    - id: detect-aws-credentials
  - repo: https://github.com/terraform-docs/terraform-docs
    rev: "v0.16.0"
    hooks:
      - id: terraform-docs-go
        args: [ "markdown", "table", "--output-file", "README.md", "./aws-static-website-hosting" ]
      - id: terraform-docs-go
        args: [ "markdown", "table", "--output-file", "README.md", "./gitlab-variables" ]
